.modalWrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, .7);
    z-index: 10000;
    cursor: default;
    font-size: 16px;
}

.modal {
    width: 100%;
    height: 90%;
    position: relative;
    background-color: #fff;
}

.modalContent {
    max-height: 90%;
    overflow-y: auto;
    padding-bottom: 80px;
}

.modalControls {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    z-index: 111000;
    border-top: 1px dotted grey;
    background-color: #fff;
}

.modalClose {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -22.5px;
    font-size: 45px;
    line-height: 1;
    z-index: 11000;
    cursor: pointer;

    &:hover {
        opacity: .6;
    }

    &:active {
        opacity: .9;
    }
}

.modalTitleControls {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -22.5px;
}

.modalTitle {
    position: relative;
    padding: 20px 65px 20px 65px;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #F0F0F0;
}