.selectOptionsWrapper {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: -5px;
    border-radius: 0 0 5px 5px;
}

.selectWrapper {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 14px;
    margin-top: 8px;
}

.selectTitle {
    position: relative;
    cursor: pointer;

    &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        right: 0;
        top: 6px;

        border-color: #999 transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0;
    }
}

.selectTitleActive {
    position: relative;

    &:after {
        border-color: transparent transparent #999;
        border-style: solid;
        border-width: 0 5px 5px;
    }
}

.select {

}

.selectOptions {
    min-height: 28.4px;
}

.selectOption {
    padding: 8px 10px;
    color: #333;
    cursor: pointer;

    &:hover {
        background-color: #f2f9fc;
    }
}

.selectOptionActive {
    background: #BDBDBD;
    color: #fff;
}

.selectWithSearchWrapper{
    border: none;
    padding: 0;

    .selectTitle{
        &:after{
            right: 9px;
            top: 17px;
        }
    }
}